// ===COLORS===

// ===base===
$color-white: #fff;
$color-black: #000;
$color-red: #f00;
// ===/base===

// ===gray===
$color-gray-300: #6a767c;
$color-gray-400: #4b5558;

// ===/gray===

// ===/COLORS===
